<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <div class="total-del-footer">
            <footer id="footer" class="footer-1  bg-success text-black">
                <div class="main-footer widgets-dark typo-light">
                    <div class="container">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="widget subscribe no-box">
                                    <h5 class="widget-title">GAMESCR<span></span></h5>
                                    <p class="text-white">En GamesCr, podras ver todo tipo de contenido Gamer, desde nuevos lanzamientos, hasta los mejores 
                                        componentes para tu consola soñada. También podras realizar compras y ver noticias actualizadas 
                                        acerca del mundo Gamer.</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="widget no-box">
                                    <h5 class="widget-title">Quick Links<span></span></h5>
                                    <ul class="thumbnail-widget">
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="index.html">Inicio</a>
                                        </li>
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="Lanzamientos.html">Lanzamientos</a>
                                        </li>
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="Noticias.html">Noticias</a>
                                        </li>
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="Guias.html">Guias</a>
                                        </li>
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="Analisis.html">Analisis</a>
                                        </li>
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="Plataformas.html">Plataformas</a>
                                        </li>
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="hardware.html">Hardware</a>
                                        </li>
                                        <li class="item" >
                                            <a class="link text-white" aria-current="page" href="Productos.html">Productos</a>
                                        </li>
                                        <li class="item" >
                                            <p><a class="link text-white" aria-current="page" href="InicioSesion.html">Usuario</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="widget no-box">
                                    <h5 class="widget-title" th:text="#cliente.titulo">Unete<span></span></h5>
                                    <p class="text-white" th:text="#cliente.titulo">Registrate en GamesCR, para que no te pierdas de los ultimos lanzamientos, y para que puedas comprar
                                        en el sitio web.</p>
                                    <a class="btn bg-black text-white" href="registro.html" target="_blank">Registrate</a>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">

                                <div class="widget no-box">
                                    <h5 class="widget-title">Contact Us<span></span></h5>
                                    <a class="link text-white" aria-current="page" href="#" >Grupo6@noexiste.com</a>
                                    </li>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>Copyright Company Name © 2023. All rights reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
