<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GAMES CR</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="CSS/INICIO.css"/>
        <link rel="stylesheet" href="Noticias.css"/>
    </head>
    <body>
        <!-- HEADER --> 
        <header th:fragment="header">
            <img src="images/header.png" class="img-fluid" alt="header" style="height: 140px; width: 100%;"/>
        </header>


        <h1 th:text="${titulo}"></h1>
        <h1 th:text="#{cliente.titulo}"></h1>


        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg bg-black">        
            <div class="container-fluid">  
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" >
                            <a class="nav-link active text-success" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Lanzamientos.html">Lanzamientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Noticias.html">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Guias.html">Guias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Analisis.html">Analisis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Plataformas.html">Plataformas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="hardware.html">Hardware</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Tienda.html">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/producto">Usuario</a>
                        </li>

                        <li class="nav-item">
                            <img src="images/usuario.png" alt="usuario"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- EL CODIGO ENTRE EL NAVBAR Y EL FOOTER VA ACA -->
        <div class='flex-row flex'>
            <div class="overlap-group14">
                <div class="grupo-29">
                    <div class="overlap-group-4">
                        <img class="Linea-3" src="images/re4rm.jpg" alt="Linea 3"/>
                    </div>
                </div>
                <div class="grupo-5">
                    <div class="overlap-group1">
                        <img class="Linea-5-1" src="images/gowr.jpg" alt="Linea5"/>
                    </div>
                </div>
                <img class="Linea-6" src="images/HL.jpg" alt="Linea 6"/><img 
                    class="Linea-9"
                    src="images/calisto.jpg" 
                    alt="Linea-9"
                    />
            </div>    

            <div class="parte-noticias" >
                <div class="NOTICIAS" style="position: absolute; top: 940px; left: 25px"  ><h1>NOTICIAS</h1> </div>
                <p class="subtitulo" style="position: absolute; top: 960px; left: 210px"  > Novedades de hoy</p>
                <h1 style="position: absolute; top: 932px; left: 345px" >_______________________________________________________________________________________</h1><div class="flex-row-2" style="position: absolute; top: 1000px;">
                    <div class="grupo-container">
                        <div class="grupo7">
                            <div class="overlap-group1">
                                <img class="Linea-5" src="images/miyamoto.jpg" alt="linea5"/>
                            </div>
                        </div>
                        <div class="grupo-3">
                            <div class="overlap-group1">
                                <img class="Linea-5" src="images/re4N.jpg" alt="Linea5" />
                            </div>
                        </div>
                        <div class="grupo-3">
                            <div class="overlap-group1">
                                <img class="Linea-5" src="images/SWJD.png" alt="Linea5"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-col-1 flex-col-5">
                    <div <p class="parrafo"  >¿Cuándo habrá nuevo juego de Mario? Shigeru Miyamoto sonríe cuando le hacen esa pregunta y emplaza a que veamos los próximos eventos de la compañía.</p></div>
                </div>
                <div> <h5 class="autor">Manu Delgado</h5></div>
                <div> <p class="fecha-de-la-noticia-1">Enero 10, 2023</p></div>
                <div class="parrafo-2">Esta teoría de Resident Evil 4 Remake asegura haber descubierto en qué parte de España sucede</div>
            </div>
            <div><h5 class="autor-2">Manu Delgado</h5></div>
            <div class="fecha-de-la-noticia-2">Febrero 5, 2023</div>
            <div class="parraf-3">Star Wars Jedi: Survivor tendrá más opciones de personalización, incluyendo peinado y barba</div>

        </div> 
        <div> <h5 class="autor-3">Manu Delgado</h5></div>
        <div class="fecha-de-la-noticia-3">Marzo 18, 2023</div>

        <div class="parte-derecha-noticias" style="position: absolute; top: 1000px; left: 900px;">
            <div clss"flex-row-2">
                <div class="grupo-container">
                    <div class="grupo7">
                        <div class="overlap-group1">
                            <img class="Linea-5" src="images/activision.jpg" alt="linea5"/>
                        </div>
                    </div>
                    <div class="grupo-3">
                        <div class="overlap-group1">
                            <img class="Linea-5" src="images/bayoneta.jpg" alt="Linea5"/>
                        </div>
                    </div>
                    <div class="grupo-3">
                        <div class="overlap-group1">
                            <img class="Linea-5" src="images/ubisof.jpg" alt="Linea5"/>
                        </div>
                    </div>
                </div>
                <div class="flex-col-1 flex-col-5">
                    <div <p class="parrafo-4">Activision Blizzard demandada en Estados Unidos por una polémica medida de sus ligas esports</div>
                </div>
                <div> <h5 class="autor4">Manu Delgado</h5></div>
                <div> <p class="fecha-de-la-noticia-4">Enero 10, 2023</p></div>
                <div class="parrafo-5">Bayonetta Origins fue el juego más vendido en España en la tercera semana de marzo</div>
            </div>
            <div><h5 class="autor-5">Manu Delgado</h5></div>
            <div class="fecha-de-la-noticia-5">Febrero 5, 2023</div>

            <div class="parraf-6">¿Qué está pasando con Ubisoft? Analizamos en detalle la crisis de la compañía francesa</div>

        </div> 
        <div> <h5 class="autor-6">Manu Delgado</h5></div>
        <div class="fecha-de-la-noticia-6">Marzo 18, 2023</div>
    </div>


</div>
</div>
</div>
</div>


<div class="p-5 bg-black text-success">
    <div class="parte-derecha" style="position: absolute; top: 200px; left: 760px;">
        <div class="proximos-lanzamientos" style="position: absolute; top: -10px; left: 350px;"><h3 th:text="#index.titulo">PROXIMOS LANZAMIENTOS</h3></div>
        <div class="grupo-de-desplazamiento-2 grupo-de-desplazamiento">
            <div class="grupo-2">
                <!-- inicio nintendo -->
                <h1></h1>
                <div class="grupo-1">
                    <div class="grupo-1-3">
                        <div class="overlap-group" >
                            <img class="Linea-11" src="images/Curse_of_the_Sea_Rats.jpg" 
                                 alt="Linea 11"/>
                        </div>
                    </div>
                    <div class="flex-col flex">
                        <div class="titulo-de-juego footlightml-light-reef-28px">Curse of the Sea Rats</div>
                        <div class="breve-resumen footlightml-light-white-15px"> <p>Aventura de plataforma 'ratoidvania' con animaciones dibujadas a mano cuidadosamente diseñadas</p></div>

                        <img class="icon-switch" style="position: absolute; top: 95px; left: 920px;"
                             src="images/switch.png" 
                             alt="icon-awesome-nintendo-switch"
                             />
                    </div>
                </div>
                <!-- fin nintendo -->
                <!-- inicio play -->
                <div class="grupo1-1" style="position: absolute; top: 150px; left: 0px;">
                    <div class="grupo">
                        <div class="overlap-group">
                            <img class="Linea-11" src="images/GrimGrimoireOnceMor.jpg" alt="Linea11"/>
                        </div> 
                    </div>
                    <div class="flex-col flex">
                        <div class="titulo-de-juego footlightml-light-reef-28px">GrimGrimoire OnceMor</div>
                        <div class="breve-resumen footlightml-light-white-15px"> <p>Presenta la fantástica construcción del mundo y la intrincada narración por la que se conoce a <br> Vanillaware</p></div>
                    </div>
                    <img 
                        <img class="icon-PS" style="position: absolute; top: 35px; left: 920px;"
                        src="images/PS-LOGO.png" 
                        alt="icon-simple-playstation"
                        />
                </div>
                <!-- fin play -->

                <!-- incio xbox -->
                <div class="grupo1-1" style="position: absolute; top: 250px; left: 0px;" >
                    <div class="grupo">
                        <div class="overlap-group">
                            <img class="Linea-11" src="images/Sherlock HolmesTheAwakened.jpg" alt="Linea11"/>
                        </div> 
                    </div>
                    <div class="flex-col flex">
                        <div class="titulo-de-juego footlightml-light-reef-28px">sherlock holmes the awakened</div>
                        <div class="breve-resumen footlightml-light-white-15px">Es el tercer juego de la serie de videojuegos inspirada en el famoso detective, creado por Sir Arthur <br> Conan Doyle.</div>
                    </div>
                    <img 
                        <img class="icon-xbox" style="position: absolute; top: 35px; left: 919px;"
                        src="images/xbox.png" 
                        alt="icon-simple-xbox"
                        />
                </div>
                <!-- fin xbox -->
            </div>
        </div>


        <!-- inicio PC -->
        <div class="grupo1-1" style="position: absolute; top: 350px; left: 0px;">
            <div class="grupo">
                <div class="overlap-group">
                    <img class="Linea-11" src="images/GhostWireTokyo.jpg" alt="Linea11"/>
                </div> 
            </div>
            <div class="flex-col flex">
                <div class="titulo-de-juego footlightml-light-reef-28px">GhostWire Tokyo</div>
                <div class="breve-resumen footlightml-light-white-15px">Videojuego de terror y acción japonés perteneciente al género de acción y aventura desarrollado por <br>la <br> empresa Tango Gameworks</div>
            </div>
            <img 
                <img class="icon-PC" style="position: absolute; top: 34px; left: 925px;"
                src="images/PC.png" 
                alt="icon-simple-pc"
                />
        </div>
        <!-- fin pc -->

        <!-- inicio play -->
        <div class="grupo1-1" style="position: absolute; top: 450px; left: 0px;" >
            <div class="grupo">
                <div class="overlap-group">
                    <img class="Linea-11" src="images/MegaMAN.jpg" alt="Linea11"/>
                </div> 
            </div>
            <div class="flex-col flex">
                <div class="titulo-de-juego footlightml-light-reef-28px" th:text="#{game.title}">Mega Man Battle Network Legacy Collection Vol. 1</div>
                <div class="breve-resumen footlightml-light-white-15px" th:text="#{game.summary}">El vol. 1 incluye Mega Man Battle Network 1-3</div>
            </div>




            <img 
                <img class="icon-PS" style="position: absolute; top: 32px; left: 925px;"
                src="images/PS-LOGO.png" 
                alt="icon-simple-playstation"
                />
        </div>
        <!-- fin play -->

        <!-- inicio nintendo -->
        <div class="grupo-1" style="position: absolute; top: 550px; left: 0px;" >
            <div class="grupo-1-3">
                <div class="overlap-group">
                    <img class="Linea-11" src="images/DisneySpeedstorm.jpg" 
                         alt="Linea 11"/>
                </div>
            </div>
            <div class="flex-col flex">
                <div class="titulo-de-juego footlightml-light-reef-28px">Disney Speedstorm </div>
                <div class="breve-resumen footlightml-light-white-15px"> Videojuego de carreras, Videojuego de acción</div>
            </div>
            <img class="icon-switch" style="position: absolute; top: 40px; left: 935px;"
                 src="images/switch.png" 
                 alt="icon-awesome-nintendo-switch"
                 />
        </div>
        <!-- fin nintendo -->

        <!-- inicio PC -->
        <div class="grupo1-1" style="position: absolute; top: 650px; left: 0px;" >
            <div class="grupo">
                <div class="overlap-group">
                    <img class="Linea-11" src="images/DeadIsland2.jpg" alt="Linea11"/>
                </div> 
            </div>
            <div class="flex-col flex">
                <div class="titulo-de-juego footlightml-light-reef-28px">Dead Island 2</div>
                <div class="breve-resumen footlightml-light-white-15px"> Aventura desarrollado por la empresa Tango Gameworks</div>
            </div>
            <img 
                <img class="icon-PC" style="position: absolute; top: 35px; left: 930px;"
                src="images/PC.png" 
                alt="icon-simple-pc"
                />
        </div>
        <!-- fin pc -->

    </div>

</div>
<!--
<div class="total-del-footer">
    <iframe src="footer.html" style="overflow:hidden; height:305px;"hidden;"scrolling="no"></iframe>
</div>
-->
<div class="total-del-footer">
    <footer id="footer" class="footer-1  bg-success text-black">
        <div class="main-footer widgets-dark typo-light">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">GAMESCR<span></span></h5>
                            <p class="text-white">En GamesCr, podras ver todo tipo de contenido Gamer, desde nuevos lanzamientos, hasta los mejores 
                                componentes para tu consola soñada. También podras realizar compras y ver noticias actualizadas 
                                acerca del mundo Gamer.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Quick Links<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li class="item" >
                                    <a class="link text-white" aria-current="page" href="index.html">Inicio</a>
                                </li>
                                <li class="item" >
                                    <a class="link text-white" aria-current="page" href="Lanzamientos.html">Lanzamientos</a>
                                </li>
                                <li class="item" >
                                    <a class="link text-white" aria-current="page" href="Noticias.html">Noticias</a>
                                </li>
                                <li class="item" >
                                    <a class="link text-white" aria-current="page" href="Guias.html">Guias</a>
                                </li>
                                <li class="item" >
                                    <a class="link text-white" aria-current="page" href="Analisis.html">Analisis</a>
                                </li>
                                <li class="item" >
                                    <a class="link text-white" aria-current="page" href="Plataformas.html">Plataformas</a>
                                </li>
                                <li class="item" >
                                    <a class="link text-white" aria-current="page" href="hardware.html">Hardware</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/producto">Base De Datos</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title" th:text="#cliente.titulo">Unete<span></span></h5>
                            <p class="text-white" th:text="#cliente.titulo">Registrate en GamesCR, para que no te pierdas de los ultimos lanzamientos, y para que puedas comprar
                                en el sitio web.</p>
                            <a class="btn bg-black text-white" href="registro.html" target="_blank">Registrate</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="widget no-box">
                            <h5 class="widget-title">Contact Us<span></span></h5>
                            <a class="link text-white" aria-current="page" href="#" >Grupo6@noexiste.com</a>
                            </li>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright Company Name © 2023. All rights reserved.
                        </p>

                        <div class="col-md-12 text-center">
                            <a href="@{/{lang=es}}">ES</a>
                            <a href="@{/{lang=en}}">EN</a>
                            <!--  
                            <p>segunda forma</p>
                        
                            <a href="?lang=en">EN</a>
                            <a href="?lang=es">ES</a>
                        
                            -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div> 


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>