<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GAMES CR</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <link rel="stylesheet" href="Noticias.css" type="text/css"/>
    </head>
    <header th:fragment="header">
        <img src="images/header.png" class="img-fluid" alt="header" style="height: 140px; width: 100%;"/>
    </header>
    <body>

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg bg-black">        
            <div class="container-fluid">  
               
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" >
                            <a class="nav-link text-white" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Lanzamientos.html">Lanzamientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-success " href="Noticias.html">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Guias.html">Guias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Analisis.html">Analisis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Plataformas.html">Plataformas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="hardware.html">Hardware</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="Tienda.html">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/producto">Usuario</a>
                        </li>
                        <li class="nav-item">
                            <img src="images/usuario.png" alt="usuario"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="p-5 bg-black text-success">
            <div class="GuiasYTrucos">
                <h1>ULTIMAS NOTICIAS DE VIDEOJUEGOS______________________________</h1>



                <div class="p-5 bg-black text-success">
                    <div class="hardware">

                        <div class="card" style="width: 33rem;">
                            <img src="images/fortnite.jpg" class="card-img-top" alt="fortnite">
                            <div class="card-body ">
                                <h5 class="card-title text-black">FORNITE NEW UPDATE</h5>
                                <p class="card-text text-black">Fortnite has added tomorrow's Item Shop sections to the server, giving us a preview of what will be available. The In Space set will replace the Machine Learning cosmetics and Kroatomist's Locker Bundle in the next rotation.</p>
                                <a href="https://fortnitenews.com/leaked-item-shop-march-25-2023/ "class="btn btn-success">Mas informacion</a>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 33rem; position: relative; top:20px;">
                            <img src="images/Hogwarts Legacy.jpg" class="d-block w-100" alt="Hogwarts Legacy">
                            <div class="card-body ">
                                <h5 class="card-title text-black"> HOGWARTS LEGACY MODS </h5>
                                <p class="card-text text-black">The Hogwarts Legacy gaming community has been abuzz since the release of a new mod that lets players take on the role of one who shouldn't be named. Although the modding community for Hogwarts Legacy is still relatively small, it hasn't stopped them from creating some bizarre and entertaining additions to the game.</p>
                                <a href="https://www.nexusmods.com/hogwartslegacy/mods/"class="btn btn-success">Mas informacion</a>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 33rem; position: relative; top:40px;">
                            <img src="images/GTAV.jpg" class="d-block w-100" alt="GTAV">
                            <div class="card-body ">
                                <h5 class="card-title text-black"> GRAND THEFT AUTO </h5>
                                <p class="card-text text-black">One of the biggest updates to the game is the addition of a new heist, The Cayo Perico Heist. Players will have the chance to infiltrate a heavily guarded private island owned by a notorious drug lord. The heist can be completed solo or with a team of up to four players, and promises to offer plenty of action and excitement.</p>
                                <a href="https://www.rockstargames.com/newswire"class="btn btn-success">Mas informacion</a>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="p-5 bg-black text-success">
                    <div class="perifericos" style="position: absolute; top: 316px; left: 720px;">
                        <div class="card" style="width: 30rem;">
                            <div class="card-body">
                                <section id="comments-section">
                                    <h2>Comments</h2>
                                    <form id="comment-form">
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment:</label>
                                            <textarea id="comment" name="comment" required></textarea>
                                        </div>
                                        <button class="buttonNoticias" type="submit">Submit Comment</button>
                                    </form>
                                    <div id="comment-list">
                                        <h3>Previous Comments</h3>
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <p><strong>John Doe</strong></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </section>

                            </div>
                        </div>


                        <div class="">
                            <h6 class=""></h6>
                        </div>

                        <div class="card" style="width: 30rem;">
                            <div class="card-body">
                                <section id="comments-section">
                                    <h2>Comments</h2>
                                    <form id="comment-form">
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment:</label>
                                            <textarea id="comment" name="comment" required></textarea>
                                        </div>
                                        <button class="buttonNoticias" type="submit">Submit Comment</button>
                                    </form>
                                    <div id="comment-list">
                                        <h3>Previous Comments</h3>
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <p><strong>Valeria Nunez</strong></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <p><strong>Sharon Rodriguez</strong></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </section>

                            </div>
                        </div>
                        <div class="">
                            <h6 class=""></h6>
                        </div>
                        <div class="card" style="width: 30rem;">
                            <div class="card-body">
                                <section id="comments-section">
                                    <h2>Comments</h2>
                                    <form id="comment-form">
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment:</label>
                                            <textarea id="comment" name="comment" required></textarea>
                                        </div>
                                        <button class="buttonNoticias" type="submit">Submit Comment</button>
                                    </form>
                                    <div id="comment-list">
                                        <h3>Previous Comments</h3>
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <p><strong>Keylor Jimenez</strong></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <p><strong>Kenneth Carvajal</strong></p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ULTIMASGUIAS">
                <div class="espacio text-black">
                    <h1>ignorar</h1>
                </div>
                <p></p>
                <p></p>
                <h1>NOTICIAS DESTACADAS__________________________________________________</h1>
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators" style="width: 25rem;">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" style="width: 50rem;">
                        <div class="carousel-item active">
                            <img src="images/RDR2.jpg" class="card-img-top" alt="RDR2">
                            <div class="carousel-caption">
                                <h5>RED DEAD REDEMPTION II NEW UPDATE</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/GTAV.jpg" class="d-block w-100" alt="GTAV">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>GRAND THEFT AUTO V ONLINE UPDATES</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/FIFA.jpg" class="card-img-top" alt="FIFA">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>FIFA ONLINE UPDATE</h5>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" style="width: 5rem;" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" style="width: 20rem;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <footer id="footer" class="footer-1  bg-success text-black">
            <div class="main-footer widgets-dark typo-light">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget subscribe no-box">
                                <h5 class="widget-title">GAMESCR<span></span></h5>
                                <p class="text-white">En GamesCr, podras ver todo tipo de contenido Gamer, desde nuevos lanzamientos, hasta los mejores 
                                    componentes para tu consola soñada. También podras realizar compras y ver noticias actualizadas 
                                    acerca del mundo Gamer.</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title">Quick Links<span></span></h5>
                                <ul class="thumbnail-widget">
                                    <li class="item" >
                                        <a class="link text-white" aria-current="page" href="index.html">Inicio</a>
                                    </li>
                                    <li class="item" >
                                        <a class="link text-white" aria-current="page" href="Lanzamientos.html">Lanzamientos</a>
                                    </li>
                                    <li class="item" >
                                        <a class="link text-white" aria-current="page" href="Noticias.html">Noticias</a>
                                    </li>
                                    <li class="item" >
                                        <a class="link text-white" aria-current="page" href="Guias.html">Guias</a>
                                    </li>
                                    <li class="item" >
                                        <a class="link text-white" aria-current="page" href="Analisis.html">Analisis</a>
                                    </li>
                                    <li class="item" >
                                        <a class="link text-white" aria-current="page" href="Plataformas.html">Plataformas</a>
                                    </li>
                                    <li class="item" >
                                        <a class="link text-white" aria-current="page" href="hardware.html">Hardware</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="/producto">Base De Datos</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title" th:text="#cliente.titulo">Unete<span></span></h5>
                                <p class="text-white" th:text="#cliente.titulo">Registrate en GamesCR, para que no te pierdas de los ultimos lanzamientos, y para que puedas comprar
                                    en el sitio web.</p>
                                <a class="btn bg-black text-white" href="registro.html" target="_blank">Registrate</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">

                            <div class="widget no-box">
                                <h5 class="widget-title">Contact Us<span></span></h5>
                                <a class="link text-white" aria-current="page" href="#" >Grupo6@noexiste.com</a>
                                </li>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>Copyright Company Name © 2023. All rights reserved.
                            </p>

                            <div class="col-md-12 text-center">
                                <a href="@{/{lang=es}}">ES</a>
                                <a href="@{/{lang=en}}">EN</a>
                                <!--  
                                <p>segunda forma</p>
                            
                                <a href="?lang=en">EN</a>
                                <a href="?lang=es">ES</a>
                            
                                -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>
