<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tienda-GamesCR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link href="producto.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>    

    </head>
    <!-- HEADER -->
    <header>
        <div class="text-white" style="position: absolute; left: 42%; ">
        </div>
        <img src="images/header.png" class="img-fluid" alt="header" style="height: 140px; width: 100%;"/>

    </header>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg " style="background: black;">        
        <div class="container-fluid">  

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" >
                        <a class="nav-link text-white" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Lanzamientos.html">Lanzamientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="Noticias.html">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Guias.html">Guias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Analisis.html">Analisis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Plataformas.html">Plataformas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="hardware.html">Hardware</a>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/producto">Base De Datos</a>
                    </li>
                    <li class="nav-item">
                        <img src="images/usuario.png" alt="usuario"/>
                    </li>

                    <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <body style="background: #10763A;">

        <div class="container" style="background: white; margin-top: 5%; border-radius: 40px; padding: 10px;">
            <div class="custyle">
                <table class="table table-striped custab">
                    <h1 class= "text-black text-center" style="color: #10763A;">Productos</h1>
                    <thead>
                    <a href="/productoN" class="btn  btn-xs pull-right" style="background: #10763A; color: white; border-radius: 15px;"><b>+</b> Agregar nuevo producto</a>
                    <tr style="color: #10763A;">
                        <th class="text-center" scope="col">Precio₡</th>
                        <th class="text-center" scope="col">Producto</th>
                        <th class="text-center" scope="col">Descripcion</th>
                        <th class="text-center" scope="col">Garantia</th>
                        <th class="text-center" scope="col">Disponible</th>
                        <th class="text-center" scope="col">Categoria</th>
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <th:block th:each="user : ${productos}">
                        <tr>
                            <td scope="row" th:text="${user.getProducto}"></td>
                            <td class="text-center" scope="row" th:text="${user.getPrecio}"></td>
                            <td scope="row" th:text="${user.getDescripcion}"></td>
                            <td class="text-center" scope="row" th:text="${user.getGarantia}"></td>
                            <td class="text-center" scope="row" th:text="${user.getCant_disp}"></td>
                            <td class="text-center" scope="row" th:text="${user.getCategoria.getCategoria}"></td> </td>
                            <td>                        
                                <a class="btn  btn-xs pull-right" style="background: #198754; color: white" th:href="@{/editProducto/{id}(id=${user.getId})}">Edit</a>                   
                            </td>
                            <td>                        
                                <a class="btn  btn-xs pull-right" style="background: #f75959; color: white" th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>                    
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
</html>